---
import type { StoryblokFeature } from '../../.storyblok/types/288498216560234/storyblok-components';
import { storyblokEditable } from '../utils/storyblokEditable';

type Props = {
	blok: StoryblokFeature;
};

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)}>
	<p>{blok.name}</p>
</section>
