---
import { storyblokEditable } from '../utils/storyblokEditable';
import type { StoryblokFooter } from '../../.storyblok/types/288498216560234/storyblok-components';

type Props = {
	blok: StoryblokFooter;
};

const { blok } = Astro.props;
---

<footer {...storyblokEditable(blok)}>
	{blok.content && <p>{blok.content}</p>}
</footer>
